#SINGLE-FILE-SHOW {
  .SINGLE-FILE-HEADER {
    @extend .MAIN-BACKGROUND-OVERLAY;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #FFFFFF;

    .SINGLE-FILE-COVER-IMAGE {
      width: 100%;
      height: auto;
    }

    .SINGLE-FILE-OVERVIEW-SHORT {
      padding-top: 30px;
      font-size: 16px;
      line-height: 1.4em;
    }

    .SINGLE-FILE-CART-BOX {
      background-color: #ffffff;
      padding: 15px;

      h3 {
        margin-top: 0;
        color: #6b6b6b;
      }

      .btn-primary {
        color: #fff;
        background-color: #ec5252 !important;
        border-color: #ec5252 !important;
        padding: 12px 18px;
        border-radius: 2px;
        font-size: 18px;
        width: 100%;
      }
    }
  }

  .SINGLE-FILE-CONTENT {
    padding-top: 50px;
    padding-bottom: 50px;

    .UPLOAD-FILENAME {
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }

    hr {
      margin-top: 0;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .SINGLE-FILE-CONTENT-OTHER-FILES-BY-USER {
    padding: 25px;
    background-color: #ffffff;
    margin-bottom: 35px;
    @extend .SPECIAL-BOX-SHADOW;

    .OTHER-FILES-BY-USER-BOX:hover {
      opacity: 0.8;
    }

    h4 {
      padding-bottom: 20px;
    }

    a:hover {
      text-decoration: none;
    }

    p {
      padding-top: 10px;
      color: #636b6f;
    }
  }
}