.ACCOUNT-CONTENT {
  .ACCOUNT-HEADER {
    height: 20vh;
    margin: -15px 0 50px 0;
    @extend .MAIN-BACKGROUND-OVERLAY;

    .ACCOUNT-HEADER-FOLD-CONTENT {
      padding-top: 50px;

      h4, p {
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
      }

      p {
        font-size: 1.3em;
      }
    }
  }

  .form-control {
    @extend .FORM-INPUT;
  }

  #ACCOUNT-SIDE-NAV {
    .list-group {
      @extend .SPECIAL-BOX-SHADOW;
      padding: 0;

      .list-group-item {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        border: none;
        text-transform: uppercase;

        a {
          color: #636b6f;
        }
        a:hover {
          text-decoration: none;
          color: #282828;
        }
      }

      .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
        a {
          color: #ffffff !important;
        }
      }
    }
  }

  .ACCOUNT-FILE-FORM {
    .panel-title {
      font-size: 18px;
      color: #636b6f;
    }
  }

  .HEADER-BOX {
    @extend .SPECIAL-BOX-SHADOW;
    margin-bottom: 25px;
    background-color: #f4f4f4;
    text-transform: uppercase;
    font-size: 1.3em;
  }

  .YOUR-FILE-BOX {
    background-color: #ffffff;
    margin-bottom: 20px;
    @extend .SPECIAL-BOX-SHADOW;

    #priceDescription {
      padding-bottom: 10px;

      p {
        margin-bottom: 3px;
      }

      span {
        margin: 0;
        font-weight: bold;
      }
    }

    h4 > a {
      color: inherit;
    }

    a {
      color: inherit;
    }

    span {
      margin: 0 5px 0 5px;
    }

    .trix-editor {
      padding-top: 25px;
    }

    trix-editor {
      min-height: 400px;
      margin-top: 10px;
    }

    trix-toolbar {
      span {
        margin: 0;
      }
    }
  }
}