
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "dropzone";
@import "navigation";
@import "account";
@import "main_files_page";
@import "file_show_page";
@import "~hover.css/css/hover.css";

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  min-height: 100%;
}

@media screen and (min-width: 768px) {
  body {
    font-family: sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 23rem;
    min-height: 100%;
  }
}

h1, h2, h3, h4, h5, h6, p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-primary {
  color: #fff;
  background-color: #2d73ba !important;
  border-color: #2d73ba !important;
  padding: 12px 18px;
  border-radius: 2px;
  font-size: 16px;
}

.btn-danger {
  color: #fff !important;
  background-color: #bf5329 !important;
  border-color: #bf5329 !important;
  padding: 12px 18px;
  border-radius: 2px;
  font-size: 16px;
}

.btn-success {
  color: #fff;
  background-color: #2ab27b;
  border-color: #2ab27b;
  padding: 12px 18px;
  border-radius: 2px;
  font-size: 16px;
}

.btn-info {
  color: #fff;
  background-color: #8eb4cb;
  border-color: #8eb4cb;
  padding: 12px 18px;
  border-radius: 2px;
  font-size: 16px;
}

.no-padding {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 767px) {
  .no-padding-xs {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.help-block {
 // margin-top: -15px !important;
  margin-bottom: 25px !important;
}

.alert-success {
  background-color: #45c359;
  color: #ffffff;
  margin-bottom: 40px;
  border-radius: 0;
  border: none;
  @extend .SPECIAL-BOX-SHADOW;
}

.alert-danger {
  background-color: #c30c15;
  color: #ffffff;
  margin-bottom: 40px;
  border-radius: 0;
  border: none;
  @extend .SPECIAL-BOX-SHADOW;
}

.alert-info {
  background-color: #097dc3;
  color: #ffffff;
  margin-bottom: 40px;
  border-radius: 0;
  border: none;
  @extend .SPECIAL-BOX-SHADOW;
}

.alert-header {
  background-color: #f4f4f4 !important;
  color: #636b6f;
  padding: 10px 15px 10px 15px !important;
  @extend .SPECIAL-BOX-SHADOW;
}

.alert-dismissible .close {
  color: #ffffff;
  opacity: 1;
}

.dropzone {
  margin-bottom: 25px;
  min-height: auto;
}

.user-avatar {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  object-fit: cover;
  margin-right: 5px;
}

.user-avatar-xl {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.HOME-PAGE-SECTION {
  height: 80vh;
  margin-top: -118px;
  -webkit-clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 94%, 76% 86%, 50% 100%, 50% 100%, 18% 86%, 0 60%);
  clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 94%, 76% 86%, 50% 100%, 50% 100%, 18% 86%, 0 60%);
  @extend .MAIN-BACKGROUND-OVERLAY;

  h1 {
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    padding: 300px 0 50px 0;
  }
}

.HOME-PAGE-SECTION-TWO {
  font-family: 'Montserrat', sans-serif;
  padding-top: 75px;

  .BORDER-LINE-BOX {
    padding-bottom: 75px;
    border-bottom: 3px solid #2d73ba;
  }

  h2 {
    text-align: center;
    padding-bottom: 50px;
  }

  .btn-info {
    color: #636b6f;
    font-size: 16px;
    background-color: transparent;
    border-color: #636b6f;
    padding: 12px 18px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  .btn-info:hover {
    color: #FFFFFF !important;
    background-color: #2d73ba ;
    border-color: #2d73ba ;
    padding: 12px 18px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  .btn-primary:hover {
    color: #636b6f !important;
    background-color: transparent !important;
    border-color: #636b6f !important;
    padding: 12px 18px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
}

.HOME-PAGE-SECTION-THREE {
  font-family: 'Montserrat', sans-serif;
  padding: 75px 0 100px 0;

  .PROCESS-BOX {
    padding-top: 25px;
    display: inline-flex;

    .SVG-PROCESS {
      width: 100px;
    }

    .SVG-PROCESS-NUMBER {
      width: 50px;
      float: right;
      margin-left: 100px;
    }

    .PROCESS-TEXT-BOX {
      padding-top: 50px;
      padding-left: 50px;
      display: inline-flex;
      width: 100%;

      h4 {
        line-height: 26px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .HOME-PAGE-SECTION {
    height: 300px;
    margin-top: 0 !important;
    -webkit-clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 94%, 76% 89%, 60% 100%, 38% 90%, 20% 82%, 0 87%) !important;
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 94%, 76% 89%, 60% 100%, 38% 90%, 20% 82%, 0 87%) !important;
    background: linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
    background-image: -ms-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
    background-image: -moz-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
    background-image: -o-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
    background-image: -webkit-linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
    background-image: linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);

    h1 {
      font-size: 26px;
      padding: 100px 15px 50px 15px;
      margin-top: 0;
    }
  }

  .HOME-PAGE-SECTION-TWO {
    padding-top: 25px;

    .BORDER-LINE-BOX {
      padding-bottom: 75px;
      border-bottom: 2px solid #2d73ba;
    }

    h2 {
      text-align: center;
      padding-bottom: 50px;
      font-size: 20px;
    }

    .btn-info {
      font-size: 14px;
      padding: 10px 14px;
    }

    .btn-primary {
      font-size: 14px;
      padding: 10px 14px;
    }
  }

  .HOME-PAGE-SECTION-THREE {
    padding: 50px 0 50px 0;

    .PROCESS-BOX {
      padding-top: 0;

      .SVG-PROCESS {
        width: 75px;
      }

      .PROCESS-TEXT-BOX {
        padding-top: 40px;
        padding-left: 15px;

        h4 {
          font-size: 16px;
        }
      }
    }
  }

  .HOME-PAGE-SECTION-FOUR {
    padding-bottom: 125px !important;

    .RIGHT-TEXT {
      padding-top: 25px !important;

      p {
        font-size: 18px;
      }
    }
  }

  .AUTH-CONTAINER-SECTION {
    height: 100% !important;

    .auth-box {
      padding: 50px 0 50px 0 !important;
      margin-bottom: 100px;
    }
  }

  .auth-box-v2 {
    margin-top: 50px !important;
    margin-bottom: 200px !important;
  }
}

.HOME-PAGE-SECTION-FOUR {
  border-top: 2px solid #d6d6d6;
  background-color: #e6e6e6;
  margin-bottom: -45px;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 50px;

  .RIGHT-TEXT {
    padding-top: 100px;

    p {
      font-size: 18px;
    }
  }

  .browser-mockup {
    border-top: 2em solid rgba(230, 230, 230, 0.7);
    box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 3px 3px 0 0
  }

  .browser-mockup:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
  }

  .browser-mockup.with-url:after {
    display: block;
    position: absolute;
    content: '';
    top: -1.6em;
    left: 5.5em;
    width: calc(100% - 6em);
    height: 1.2em;
    border-radius: 2px;
    background-color: white;
  }

  .browser-mockup > * {
    display: block;
  }

  .browser-mockup {
    margin: 2em;
    flex: 1;
  }

  img {
    width: 100%;
  }
}



.AUTH-CONTAINER-SECTION {
  margin-top: -118px;
  @extend .MAIN-BACKGROUND-OVERLAY;

  a:hover {
    color: inherit;
    text-decoration: none;
  }

  a:active {
    color: inherit;
    text-decoration: none;
  }

  .auth-box {
    margin-top: 50%;
    background-color: #ffffff;
    padding: 50px 25px 50px 25px;
    border-radius: 4px;
    margin-bottom: 100px;

    h1 {
      font-weight: bold;
      text-align: center;
      margin-bottom: 50px;
      a {
        color: #6b6b6b;
      }
    }

    h4 {
      text-align: center;
      font-weight: 300;
      margin-top: -25px;
      margin-bottom: 40px;
    }

    .form-control {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      width: 75%;
      margin: 0 auto;
      height: 50px;
      border: 1px solid #dcdee0;
      font-size: 16px;
      box-shadow: none;
      color: #555;
      margin-bottom: 15px;
    }

    .help-block {
      margin: 0 auto;
      width: 75%;
    }

    .login-link {
      text-align: center;
      margin-top: 25px;
    }

    .btn-primary {
      color: #fff;
      background-color: #2d73ba !important;
      border-color: #2d73ba !important;
      padding: 12px 18px;
      border-radius: 2px;
      font-size: 16px;
      margin-top: 25px;
      width: 75%;
    }
  }
}

.FOOTER {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #2d73ba;
  padding: 60px 0 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;

  ul {
    li {
      list-style: none;
      line-height: 26px;

      a {
        color: #eeeeee;
      }
    }

    .HEADER {
      color: #FFFFFF;
      font-weight: bold;
      padding-bottom: 6px;
    }
  }
}

@media screen and (max-width: 767px) {
  .FOOTER {
    position: inherit;
  }
}

.auth-box-v2 {
  margin-top: 15%;
  padding: 15px !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}